/*로그인*/
 
/*visual top 글씨*/
.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;/*불투명*/
}

/*글씨크기 visual top*/
.header{
	position: absolute;
	top: 380px;
	left: 440px;
	z-index: 10;
}

/*글씨크기*/
.header div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 46px;
	font-weight: 200;
}

/*글씨색*/
.header div span{
	color:black;
}
.sign1 {
	position: absolute;	
	top: 480px;
	left: 835px;
	right: 0px;
	width: 65px;
}
.sign2 {
	position: absolute;
	top: 480px;
	left: 900px;
	right: 0px;
	width: 120px;
}
a{
	color: white;
	TEXT-DECORATION:none;
}

a:hover{
	color:black;
}  

.login{
	position: absolute;
	/*top: calc(50% - 75px);
	left: calc(50% - 50px);*/
	top: 350px;
	left: 750px;
	height: 110px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.login input[type=text]{
	width: 259px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 259px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}


.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}


.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}
/*홀더글씨 색*/
::-webkit-input-placeholder{
   color:white;
}


::-moz-input-placeholder{
   color:white;
}










