/* reset-PC css 초기화*/ 

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
code,form,fieldset,legend,textarea,p,blockquote,
th,td,input,select,textarea,button {
	margin:0;
	padding:0
}

fieldset,img {
	border:0 none
}

dl,ul,ol,menu,li {
	list-style:none
}

blockquote, q {
	quotes: none
}

blockquote:before, blockquote:after,q:before, q:after {
	content:'';
	content:none	
}

input,select,textarea,button {
	vertical-align:middle
}

button {
	border:0 none;
	background-color:transparent;
	cursor:pointer
}
body {
	background:#fff
}

body,th,td,input,select,textarea,button {
	font-size:12px;
	line-height:1.5;
	font-family:"Malgun Gothic",'돋움',dotum,sans-serif;
	color:#333
} /* color값은 디자인가이드에 맞게사용 */

a {
	color:#333;
	text-decoration:none;
}
a:active, a:hover {
	text-decoration:none;
	color:#5D5D5D; 
}

address,caption,cite,code,dfn,em,var {
	font-style:normal;
	font-weight:normal
}
/* css 초기화 끝*/



#wrap{
	margin:0 auto;
	/*display:none;*/
}
#top{
	
	
	
}
#center{
	margin-top: 75;
}
#bottom{
	
}
/*탑 고정라인*/
/* 헤더영역 */
.font {
    color: #ABABAB;
    font-size: 16;
    cursor: pointer;
    margin: 5;
   
}
.header_wrap {
    width: 100%;
    margin: 0 auto;
    z-index: 999;
    position: relative;
}
.header {
    width: 100%;
    height: 100;darkturquoise
    margin: 0 auto;
    background: white;
}
.header_login {
    margin: 0 auto;
    width: 170;
}
.header_login_form{
	width: 200;
    margin-left: 550;
}

.site_name {
    position: absolute;
    width: 250;
    height: 100;
    margin-left: 480;
    margin-top: -10;
}
.site_banner{
	
}

/*네비게이션 색상*/

.navi_bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom-style:ridge;
    border-bottom-color: #6A84B7;
    border-bottom-width: 0.8px;
}


/*네비게이션 전체 영역 제어*/

.nav {
    height: 35px;
    list-style: none;
    width: 840px;
    margin: auto;
    background: white;
    font-size: 12px;
    color: #5D5D5D;
   
}
/*주메뉴 영역 제어*/
.topnav1{
	text-align:center;
	width:60px;
	height:15px;
	font-weight:bold;
}
.topnav{
	text-align:center;
	width:150px;
	height:15px;
	cursor:pointer;
	font-weight:bold;
}


/*주메뉴 마우스 오버시*/

.topnav:hover{
	color:#d3d3d3;
}


/*주메뉴,서브메뉴 한묶음 제어*/

.navi_set{
	float: left;
	padding:10px;
	position: relative;
	margin-right: -20;
}


/*서브메뉴 전체영역 제어*/

.subnav{
	position: absolute;
	left: 0; top: 35px;
	background: darkturquoise;
	display: none;

}


/*서브메뉴 한칸 제어*/

.subnav li {
    padding: 10px;
    width: 150px;
    text-align: center;
    cursor: pointer;
}


/*서브메뉴 마우스 오버시*/

.subnav li:hover{
	background:#555;
}

/*바텀 고정라인*/
.footer_wrap {
    width: 100%;
    border-top-style: ridge;
    border-top-width: 1;
    border-top-color: #6A84B7;
}
.footer{
    width: 1150;
    height: 70;
    margin: 0 auto;
}
.footer_logo{
	
}
.footer_address {
   margin-left:350;
   margin-top: 26;
   margin-bottom: 10;
  color:black;
   
}
.ceo{
	font-size:13px;
	font-weight: bold;
}
